.our-packages-container {
  background-color: #eeeae5;
  color: #314359;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  align-items: center;
  width: 100vw;
}

.our-packages-header {
  font-size: 3.5vw;
  margin-bottom: 0;
}

.our-packages-detail {
  margin-top: 0;
  margin-bottom: 5%;
}

.our-packages-images-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
}
