.banner-image-container {
  position: relative;
  text-align: center;
  color: white;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-header,
.carousel-sub-header,
.carousel-logo {
  opacity: 0.7;
}

.carousel-header,
.carousel-sub-header {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

.carousel-header {
  font-size: 5vw;
}

.carousel-sub-header {
  font-size: 2vw;
}
